# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# Environment variables
*.env

# Firebase credentials
*.json
!templates/  # Ensure the templates folder is not ignored

# IDE/editor-specific files
.vscode/
.idea/
*.swp

# Log files
*.log

# Python egg files
*.egg
*.egg-info/
dist/
build/
*.spec

# Compiled files
*.so
*.dll
*.dylib

# OS-specific files
.DS_Store
Thumbs.db

# Uvicorn log and pid files
*.pid
*.log

# Node-related files (if applicable)
node_modules/
package-lock.json
yarn.lock

# Temporary files
*.tmp
*.bak
*.old
*.orig

# Local SQLite database
*.sqlite3
*.db

cred.json